* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', 'Oxygen', sans-serif;
  font-family: 'Raleway', sans-serif;
}

/* Hide the scrollbar buttons */
::-webkit-scrollbar-button {
  display: none;
}

/* Style the scrollbar itself */
::-webkit-scrollbar {
  width: 15px;
  height: 2px;
  background-color: #424230;
}

/* Style the scroll thumb (the part you drag) */
::-webkit-scrollbar-thumb {
  background-color: #2a2b25 ; /* Dark with 50% opacity */
  border-radius: 32px;
  &:hover {
      background-color: rgba(0,0,0,0.7); /* Darker when hovered */
  }
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #D6D6D6 transparent;
}

